<div class="col-xs-12">
    <div class="row" ng-repeat="patient in homeCtrl.patientsData">
        <div class="col-xs-12">
            <div class="row lab">
                <div class="col-xs-2"> Number </div>
                <div class="col-xs-2"> Name </div>
                <div class="col-xs-2"> City </div>
                <div class="col-xs-2"> Address </div>
                <div class="col-xs-2"> State </div>
            </div>
            <div class="row">
                <div class="col-xs-2"> {{patient.demographics.phone.home}} </div>
                <div class="col-xs-2"> {{patient.demographics.name.family}}, {{patient.demographics.name.given[0]}}</div>
                <div class="col-xs-2"> {{patient.demographics.address.city}} </div>
                <div class="col-xs-2"> {{patient.demographics.address.street[0]}} </div>
                <div class="col-xs-2"> {{patient.demographics.address.state}} </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="row lab">
                <div class="col-xs-2" style="background-color: white !important;"> &nbsp; </div>
                <div class="col-xs-2"> Date-Time </div>
                <div class="col-xs-2"> Test </div>
                <div class="col-xs-2"> Value </div>
                <div class="col-xs-2"> Nominal Range </div>
                <div class="col-xs-2"> Abnormal-Value </div>
            </div>
            <div ng-repeat="result in patient.results">
                <div ng-class="{'abnormal': homeCtrl.isAbnormal(result), 'row': true}">
                    <div ng-class="{'abnormal': homeCtrl.isAbnormal(result), 'col-xs-2': true}" style="background-color: white;"> &nbsp; </div>
                    <div class="col-xs-2"> {{result.date | date}} </div>
                    <div class="col-xs-2"> {{result.name}} </div>
                    <div class="col-xs-2"> {{result.value}} </div>
                    <div class="col-xs-2"> {{result.reference_range.text}} </div>
                    <div class="col-xs-2"> {{result.abnormality}} </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
.lab {
    background-color: black;
    color: white;
    font-size: 16px;
}

.abnormal{
	background-color: yellow !important;
}
</style>